{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 8,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/prefer-interface": "off",
    "babel/semi": "off",
    "curly": ["error", "all"],
    "global-require": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "no-tabs": "error",
    "no-underscore-dangle": ["error", { "allow": ["_KEY"] }],
    "no-unexpected-multiline": "off",
    "prettier/prettier": "error",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
