{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "ecmaVersion": 8,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": ["eslint-plugin", "node", "prettier", "jest"],
  "extends": [
    "standard",
    "plugin:eslint-plugin/recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "no-var": "error",
    "prefer-const": "error",
    "eslint-plugin/prefer-placeholders": "error",
    "eslint-plugin/test-case-shorthand-strings": "error",
    "node/no-unsupported-features": ["error", { "version": 9 }],
    "prettier/prettier": "error",
    "no-delete-var": 2,
    "no-undef": 2,
    "no-unused-vars": [2, { "args": "none" }],
    "block-spacing": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": 2,
    "eol-last": 2,
    "func-call-spacing": 2,
    "func-name-matching": 2,
    "indent": [2, 2, { "SwitchCase": 1, "MemberExpression": 1 }],
    "key-spacing": [2, { "mode": "minimum" }],
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "max-len": [2, 80, 2],
    "new-parens": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multiple-empty-lines": [2, { "max": 2, "maxEOF": 0, "maxBOF": 0 }],
    "no-tabs": 2,
    "no-trailing-spaces": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": 2,
    "semi-spacing": 2,
    "space-before-blocks": [2, "always"],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "arrow-spacing": [2, { "before": true, "after": true }],
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-confusing-arrow": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-new-symbol": 2,
    "no-this-before-super": 2,
    "rest-spread-spacing": 2,
    "template-curly-spacing": 2,
    "no-process-exit": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
